.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-add{
    margin-top: 20px;
    width: 150px;
}
.card-text{
    text-align: justify;
}
.add-form-comment{
    margin-left: 50px;
}
.post-img{
    height: 200px;
}
.btn-comment{
    margin-top: 20px;
    width: 150px;
}
.btn-showMore{
    width: 150px;
}
